In [1]:
# Import packages

import pandas as pd 
import numpy as np 
import os

In [2]:
schedule = pd.read_csv('../data/schedule_df.csv')
qbs = pd.read_csv('../data/starting_qbs.csv')

In [3]:
schedule = schedule.drop('Unnamed: 0', axis=1)
schedule = schedule.drop_duplicates()
schedule.head()

,season,week,home_team,away_team,home_score,away_score,season_type,home_full,away_full
0,2014,1,CHI,BUF,20,23,REG,Chicago Bears,Buffalo Bills
1,2014,1,TB,CAR,14,20,REG,Tampa Bay Buccaneers,Carolina Panthers
2,2014,1,BAL,CIN,16,23,REG,Baltimore Ravens,Cincinnati Bengals
3,2014,1,PIT,CLE,30,27,REG,Pittsburgh Steelers,Cleveland Browns
4,2014,1,SEA,GB,36,16,REG,Seattle Seahawks,Green Bay Packers

In [4]:
qbs.head()

,Unnamed: 0,date,season,home,away,home_score,away_score,home_qb,away_qb,home_qb_abv,away_qb_abv
0,14939,2014-09-04,2014,Seattle Seahawks,Green Bay Packers,36,16,Russell Wilson,Aaron Rodgers,R. Wilson,A. Rodgers
1,14940,2014-09-07,2014,Baltimore Ravens,Cincinnati Bengals,16,23,Joe Flacco,Andy Dalton,J. Flacco,A. Dalton
2,14941,2014-09-07,2014,Houston Texans,Washington Football Team,17,6,Ryan Fitzpatrick,Robert Griffin,R. Fitzpatrick,R. Griffin
3,14942,2014-09-07,2014,Chicago Bears,Buffalo Bills,20,23,Jay Cutler,EJ Manuel,J. Cutler,E. Manuel
4,14943,2014-09-07,2014,Pittsburgh Steelers,Cleveland Browns,30,27,Ben Roethlisberger,Brian Hoyer,B. Roethlisberger,B. Hoyer

In [5]:
len(qbs)

2440

In [6]:
qbs['home_score'] = qbs.home_score.astype(int)
qbs['away_score'] = qbs.away_score.astype(int)

In [7]:
combined = qbs.merge(schedule, right_on = ['season', 'home_full', 'away_full', 'home_score', 'away_score'], 
                    left_on = ['season', 'home', 'away', 'home_score', 'away_score'])

In [8]:
len(combined)

2438

In [9]:
combined = combined.drop('Unnamed: 0', axis=1)

In [10]:
combined.head()

,date,season,home,away,home_score,away_score,home_qb,away_qb,home_qb_abv,away_qb_abv,week,home_team,away_team,season_type,home_full,away_full
0,2014-09-04,2014,Seattle Seahawks,Green Bay Packers,36,16,Russell Wilson,Aaron Rodgers,R. Wilson,A. Rodgers,1,SEA,GB,REG,Seattle Seahawks,Green Bay Packers
1,2014-09-07,2014,Baltimore Ravens,Cincinnati Bengals,16,23,Joe Flacco,Andy Dalton,J. Flacco,A. Dalton,1,BAL,CIN,REG,Baltimore Ravens,Cincinnati Bengals
2,2014-09-07,2014,Houston Texans,Washington Football Team,17,6,Ryan Fitzpatrick,Robert Griffin,R. Fitzpatrick,R. Griffin,1,HOU,WAS,REG,Houston Texans,Washington Football Team
3,2014-09-07,2014,Chicago Bears,Buffalo Bills,20,23,Jay Cutler,EJ Manuel,J. Cutler,E. Manuel,1,CHI,BUF,REG,Chicago Bears,Buffalo Bills
4,2014-09-07,2014,Pittsburgh Steelers,Cleveland Browns,30,27,Ben Roethlisberger,Brian Hoyer,B. Roethlisberger,B. Hoyer,1,PIT,CLE,REG,Pittsburgh Steelers,Cleveland Browns

In [11]:
combined = combined[['date', 'season', 'week', 'season_type', 'home', 'away', 'home_score', 'away_score', 
                    'home_qb', 'away_qb', 'home_qb_abv', 'away_qb_abv']]

In [12]:
combined.head()

,date,season,week,season_type,home,away,home_score,away_score,home_qb,away_qb,home_qb_abv,away_qb_abv
0,2014-09-04,2014,1,REG,Seattle Seahawks,Green Bay Packers,36,16,Russell Wilson,Aaron Rodgers,R. Wilson,A. Rodgers
1,2014-09-07,2014,1,REG,Baltimore Ravens,Cincinnati Bengals,16,23,Joe Flacco,Andy Dalton,J. Flacco,A. Dalton
2,2014-09-07,2014,1,REG,Houston Texans,Washington Football Team,17,6,Ryan Fitzpatrick,Robert Griffin,R. Fitzpatrick,R. Griffin
3,2014-09-07,2014,1,REG,Chicago Bears,Buffalo Bills,20,23,Jay Cutler,EJ Manuel,J. Cutler,E. Manuel
4,2014-09-07,2014,1,REG,Pittsburgh Steelers,Cleveland Browns,30,27,Ben Roethlisberger,Brian Hoyer,B. Roethlisberger,B. Hoyer

In [13]:
combined.to_csv('../data/schedule_final.csv')